@using KhaKhau.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KhaKhau</title>

    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
    <link href="~/font/fontawesome-free-6.6.0-web/css/all.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

    <div class="header">
        <div class="logo-container">
            <img class="navbar-brand" src="~/images/logo_res.png" alt="Logo" />
        </div>

        <div class="menu-container">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">TRANG CHỦ</a>

            <!-- Kiểm tra nếu đã đăng nhập và có vai trò user hoặc admin -->
            @if (SignInManager.IsSignedIn(User))
            {
                @if (User.IsInRole("user"))
                {
                    <a class="nav-link" asp-controller="Product" asp-action="Index">ĐẶT MÓN ONLINE</a>
                    <a class="nav-link" asp-controller="Home" asp-action="DatBan">ĐẶT BÀN</a>
                }

            }
            else
            {
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">ĐẶT MÓN ONLINE</a>
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">ĐẶT BÀN</a>
            }

            <a class="nav-link" href="/Home/GioiThieu">GIỚI THIỆU</a>
        </div>

        <div class="auth-container">
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("user"))
            {
                <div class="dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-user"></i> @UserManager.GetUserName(User)
                    </a>
                    <div class="dropdown-menu" aria-labelledby="userDropdown">
                        <a class="dropdown-item" asp-controller="Account" asp-action="EditInfo">Xem thông tin cá nhân</a>
                        <a class="dropdown-item" asp-controller="Order" asp-action="OrderHistory">Xem lịch sử đơn hàng</a>
                        <form id="logoutForm" method="post" asp-area="Identity" asp-page="/Account/Logout">
                            <button type="submit" class="btn btn-link dropdown-item" style="padding: 0; color: inherit; text-decoration: none;">
                                Đăng Xuất
                            </button>
                        </form>
                    </div>
                </div>
            }
            else if (User.IsInRole("admin"))
            {
                <div class="dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-user"></i> @UserManager.GetUserName(User)
                    </a>
                    <div class="dropdown-menu" aria-labelledby="userDropdown">
                        <a class="dropdown-item" asp-controller="Account" asp-action="EditInfo">Xem thông tin cá nhân</a>
                        <form id="logoutForm" method="post" asp-area="Identity" asp-page="/Account/Logout">
                            <button type="submit" class="dropdown-item">
                                Đăng Xuất
                            </button>
                        </form>




                    </div>
                </div>
            }
            else
            {
                <a href="~/Identity/Account/Login" class="nav-link"><i class="fa-solid fa-user"></i> ĐĂNG NHẬP</a>
                <a href="~/Identity/Account/Register" class="nav-link"><i class="fa-solid fa-user-plus"></i> ĐĂNG KÝ</a>
            }
        </div>

        <div class="iconz">
            <a href="/Cart/GetUserCart">
                <i class="fa-solid fa-cart-shopping"></i>
                <span id="cartCount" class="badge badge-pill badge-primary">@ViewData["CartItemCount"]</span>
            </a>
        </div>
    </div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const menuToggle = document.querySelector(".navbar-toggler");
        const menuContainer = document.querySelector(".menu-container");

        menuToggle.addEventListener("click", function () {
            menuContainer.classList.toggle("active");
        });

        loadCartCount();

        async function loadCartCount() {
            try {
                var response = await fetch(`/Cart/GetTotalItemInCart`);
                if (response.status == 200) {
                    var result = await response.json();
                    var cartCountEl = document.getElementById("cartCount");
                    cartCountEl.innerHTML = result;
                }
            } catch (err) {
                console.log(err);
            }
        }
    });
</script>

               
